---
import data from "../data/site.json";
 const{navItems} = data;


// Pass navItems to the component as a prop

---

<header>
    <nav class="nav">
      <ul class="nav__list" id="nav__list">
        {navItems.map((item)=>(
          <li class="nav__item"><a   href={item.href} class="nav__link">{item.text}</a></li>
        ))}
       
      </ul>
     </nav>
   </header>

<script src="../scripts/main.js"></script>
  