---


const {items } = Astro.props;



// Pass navItems to the component as a prop

---



<header>
    <nav class="nav">
      <ul class="nav__list" id="nav__list">
       
          <!-- <li class="nav__item"><a   href="/" class="nav__link">Home</a></li>
          <li class="nav__item"><a href="/profile" class="nav__link">Profile</a></li>
          <li class="nav__item"><a href="/contact" class="nav__link">Contact</a></li> -->
      </ul>
     </nav>
   </header>