---
// interface Item {
//   text : string;
//   href: string;
// }


// interface Props {
//   items: Item[];
// }

const {items } = Astro.props;

// Pass navItems to the component as a prop

---

<header>
    <nav class="nav">
      <ul class="nav__list" id="nav__list">
        {items.map((item)=>(
          <li class="nav__item"><a   href={item.href} class="nav__link">{item.text}</a></li>
        ))}
       
      </ul>
     </nav>
   </header>

  