---
import site from "../data/site.json";
import ProjectItem from "../components/ProjectItem.astro"
const {projects} = site;

---

<!-- PROJECT SECTION -->
 <section class="fade__up">
    <div class="container">
      <div class="project__list" id="project__list">
        {projects.map((project)=>(
          <ProjectItem project={project}/>
        ))}
        
</div>
</div>
  </section>

  <style>
  /* PRODUCTS */
.project__list{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  
}
  </style>