---
import site from "../data/site.json";
---

<!-- PROJECT SECTION -->
 <section class="fade__up">
    <div class="container">
      <div class="project__list" id="project__list">
        <article class="product__item"><a class="product__link-overlay">
            <div class="product__overlay"></div>
        </a><img src="/img/xine.png" alt="Xine" class="product__img">
        <div class="product__content"><div>
        <p class="product__name">Xine</p>
    </div><div>
    <a class="product__link product__link--light">
    <i class="fa-solid fa-arrow-up" aria-hidden="true"></i>
</a>
</div>
</div>
</article>
      </div>
    </div>
  </section>