---
interface Props {
	title: string;
}
// import { load } from 'astro:client';


//Nav item array of object element 
const navItems = [
  { id: 1 , text: 'Home', href: '/' },
  {id: 2 , text: 'Profile', href: '/profile' },
  {id: 3 , text: 'Contact', href: '/contact' },
];


//Footer item 
const socialItems = [
  { id: 1 , name: 'Twitter', href: 'https://twitter.com/Ali_baba464', label:"Designers' Twitter" },
  {id: 2 , name: 'Linkedin', href: 'https://www.linkedin.com/in/ibrahimaliu/?lipi=urn%3Ali%3Apage%3Ad_flagship3_feed%3BOjvKxy6%2BQNKuZPGJs%2BSJCA%3D%3D', label: "Designers' Linkedin" },
  {id: 3 , name: 'Behance', href: 'https://www.behance.net/aliuibrahim464', label: "Designers' Twitter" },
];



import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header  items={navItems} />
		<slot />

     <Footer socials={socialItems}/>
		<!-- Load the TypeScript script for the client-side -->
		<!-- <script src={load('../scripts/nav.ts')} type="module"></script> -->
	</body>
</html>
<!-- <style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style> -->
